mixin code
  pre.feature_example
    code
      block

html
  head
    meta(charset="utf-8")
    title tbot
    meta(property="og:site_name" content="tbot")
    meta(property="og:description" content="Make cool Telegram bots with Rust easily.")
    meta(property="og:image" content="https://tbot.rs/images/og_image.png")
    meta(name="twitter:image" content="https://tbot.rs/images/og_image.png")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="viewport", content="width=device-width")
    link(rel="shortcut icon" type="image/svg+xml" href="images/favicon.svg")
    link(rel="stylesheet" type="text/css" href="style.p.css")
    link(rel="stylesheet" type="text/css" href="rouge-theme.p.css")
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu|Fira+Code&display=swap")
  body
    div.wrapper
      header.header
        img.header_logo(src="images/logo.svg")
        h1.header_title tbot
        p.header_description Make cool Telegram bots with Rust easily.

      .links
        .links_group
          a(href="//crates.io/crates/tbot").crates crates.io
          a(href="//lib.rs/crates/tbot").lib-rs lib.rs
          a(href="//gitlab.com/SnejUgal/tbot").gitlab GitLab
          a(href="//github.com/snejugal/tbot").github GitHub
        .links_group
          a(href="//gitlab.com/SnejUgal/tbot/-/wikis/home").tbot Wiki
          a(href="//gitlab.com/SnejUgal/tbot/-/wikis/Tutorial").tbot Tutorial
          a(href="//docs.rs/tbot").docs docs.rs

      main
        article.feature
          div.feature_description
            h2.feature_title Modern, fast, and easy to use
            p
              | It's easy to start making bots with tbot even for comers from
              | other languages, such as Python or JavaScript, thanks to its
              | high-level design. Code written with tbot is easy to read,
              | understand and reason about.
            p
              | tbot supports <code>async</code>/<code>.await</code>, all built
              | upon <a href="//tokio.rs">tokio</a>. This lets you write clean
              | and fast asynchronous code with a rich ecosystem built around
              | tokio.
            p
              | tbot lets you easily
              |
              a(href="//docs.rs/tbot/*/tbot/state") manage your bot's state
              | , be it in memory, in a file or in a database, yet it doesn't
              | constrain you in any way. Also, you can easily
              |
              a(href="//docs.rs/tbot/*/tbot/markup") work with markup
              |
              | in tbot, without fearing that some user input will break it.

          +code
            include:rust ./examples/easy-to-use.rs

        article.feature
          div.feature_description
            h2.feature_title Idiomatic and type-safe API
            p
              | Every type in tbot is though out. You won’t have to
              | <code>.unwrap()</code> several fields after checking a type’s
              | kind, and get a panic if some assumption turned out to be false.
              | In tbot, you can only access such information via pattern
              | matching.
            p
              | tbot also has a type-safe API. You’ll never forget to specify
              | a required parameter, or specify conflicting parameters.
              | You won’t get a runtime error because of a typo that could be
              | prevented at compile time.

          +code
            include:rust ./examples/idiomatic-api.rs

        article.feature
          div.feature_description
            h2.feature_title Complete Bot API support
            p
              | tbot, among other features, lets you upload and download media,
              | and
              |
              a(href="//gitlab.com/SnejUgal/tbot/-/wikis/How-to/How-to-use-webhooks")
                | use webhooks for your bot
              | . tbot already implements
              |
              a(href="//core.telegram.org/bots/api#june-4-2020")
                | Bot API 4.9
              | , which means that you can already work with latest features.
              | That includes MarkdownV2, animated stickers, Telegram Passport,
              | polls v2.0 and other. tbot’s modular design guarantees that new
              | Bot API
              | updates can be quickly implemented in tbot once they’re out.

          +code
            include:rust ./examples/bot-api-support.rs

        article.feature
          div.feature_about
            h2.feature_title Scalable and configurable
            p
              | Code written with tbot scales well as complexity of your bot
              | increases. Need to shut down gracefully on SIGINT? Just select
              | the event loop and the signal handler. Want to replace polling
              | with webhooks?
              |
              a(href="//gitlab.com/SnejUgal/tbot/-/wikis/How-to/How-to-use-webhooks")
                | Just call <code>bot.webhook</code> instead of
                | <code>bot.polling</code>
              | . Want to have a handler generic over several contexts?
              |
              a(href="//docs.rs/tbot/0.4.0/tbot/contexts/fields/") No problem
              | . You can always go from a simple way to accomplish one thing
              | to a more powerful one without rewriting your bot’s logic.

          +code
            include:rust ./examples/scalable.rs

      p.callToAction
        | Ready to write your first bot with tbot? Start with
        |
        a(href="//gitlab.com/SnejUgal/tbot/-/wikis/Tutorial") this tutorial
        | . You can also check out
        |
        a(href="//gitlab.com/SnejUgal/tbot/tree/master/examples") our examples
        |
        | and try some
        |
        a(href="//gitlab.com/SnejUgal/tbot/-/wikis/Projects-built-with-tbot")
          | real-world bots built with tbot
        | .
      footer
        p
          | ⓒ 2018—
          = new Date().getFullYear()
          |
          | SnejUgal & AlexStrNik. Special thanks to
          |
          a(href="//t.me/justmark0") @justmark0
          | 
          | for help in hosting this website!
        p
          | tbot is released under the MIT
          | License, with its source code available publicly
          |
          a(href="//gitlab.com/SnejUgal/tbot/") on GitLab
          | . The source code for this website is available
          |
          a(href="//gitlab.com/SnejUgal/tbot.rs/") on GitLab
          |
          | as well.
