.code.dark .line-numbers,
.code.dark .diff-line-num {
  background-color: #1d1f21
}

.code.dark .diff-line-num,
.code.dark .diff-line-num a {
  color: rgba(255, 255, 255, 0.3)
}

.code.dark pre.code,
.code.dark .diff-line-num {
  border-color: #666
}

.code.dark,
.code.dark pre.code,
.code.dark .line_holder .line_content {
  background-color: rgba(255 255 255 / 0.05);
  color: #c5c8c6
}

.code.dark .line_expansion {
  background-color: #1d1f21
}

.code.dark .line_expansion td {
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080
}

.code.dark .line_expansion a {
  color: #81a2be
}

.code.dark .line_holder.match .line_content,
.code.dark .line_holder.old-nonewline .line_content,
.code.dark .line_holder.new-nonewline .line_content {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1)
}

.code.dark .line_holder td.diff-line-num.hll:not(.empty-cell),
.code.dark .line_holder td.line_content.hll:not(.empty-cell) {
  background-color: #557;
  border-color: #35354a
}

.code.dark .line_holder .diff-line-num.new,
.code.dark .line_holder .line_content.new {
  background: rgba(51, 255, 51, 0.1)
}

.code.dark .line_holder .diff-line-num.new.line_content span.idiff,
.code.dark .line_holder .line_content.new.line_content span.idiff {
  background: rgba(51, 255, 51, 0.2)
}

.code.dark .line_holder .diff-line-num.new.diff-line-num,
.code.dark .line_holder .line_content.new.diff-line-num {
  border-color: #808080
}

.code.dark .line_holder .diff-line-num.new::before,
.code.dark .line_holder .diff-line-num.new a,
.code.dark .line_holder .line_content.new::before,
.code.dark .line_holder .line_content.new a {
  color: #627165
}

.code.dark .line_holder .diff-line-num.old,
.code.dark .line_holder .line_content.old {
  background: rgba(255, 51, 51, 0.2)
}

.code.dark .line_holder .diff-line-num.old.line_content span.idiff,
.code.dark .line_holder .line_content.old.line_content span.idiff {
  background: rgba(255, 51, 51, 0.25)
}

.code.dark .line_holder .diff-line-num.old.diff-line-num,
.code.dark .line_holder .line_content.old.diff-line-num {
  border-color: #808080
}

.code.dark .line_holder .diff-line-num.old::before,
.code.dark .line_holder .diff-line-num.old a,
.code.dark .line_holder .line_content.old::before,
.code.dark .line_holder .line_content.old a {
  color: #806565
}

.code.dark .line_holder .diff-line-num.is-over,
.code.dark .line_holder .diff-line-num.hll:not(.empty-cell).is-over {
  background-color: #9f9ab5;
  border-color: #918baa
}

.code.dark .line_holder .diff-line-num.is-over a,
.code.dark .line_holder .diff-line-num.hll:not(.empty-cell).is-over a {
  color: #756e95
}

.code.dark .line_holder .line_content.match {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1)
}

.code.dark .line_holder:not(.diff-expanded)+.diff-expanded>.diff-line-num,
.code.dark .line_holder:not(.diff-expanded)+.diff-expanded>.line_content,
.code.dark .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.diff-line-num,
.code.dark .line_holder.diff-expanded+.line_holder:not(.diff-expanded)>.line_content {
  border-top: 1px solid #000
}

.code.dark .line_holder.diff-expanded>.diff-line-num,
.code.dark .line_holder.diff-expanded>.line_content {
  background: #3e3e3e;
  border-color: #3e3e3e
}

.code.dark pre .hll {
  background-color: #373b41 !important
}

.code.dark span.highlight_word {
  background-color: #ffe792 !important;
  color: #000 !important
}

.code.dark .line a {
  color: #81a2be
}

.code.dark .hll {
  background-color: #373b41
}

.code.dark .c {
  color: #969896
}

.code.dark .err {
  color: #c66
}

.code.dark .k {
  color: #b294bb
}

.code.dark .l {
  color: #de935f
}

.code.dark .n {
  color: #c5c8c6
}

.code.dark .o {
  color: #8abeb7
}

.code.dark .p {
  color: #c5c8c6
}

.code.dark .cm {
  color: #969896
}

.code.dark .cp {
  color: #969896
}

.code.dark .c1 {
  color: #969896
}

.code.dark .cs {
  color: #969896
}

.code.dark .gd {
  color: #c66
}

.code.dark .gh {
  color: #c5c8c6;
  font-weight: 600
}

.code.dark .gi {
  color: #b5bd68
}

.code.dark .gp {
  color: #969896;
  font-weight: 600
}

.code.dark .gs {
  font-weight: 600
}

.code.dark .gu {
  color: #8abeb7;
  font-weight: 600
}

.code.dark .kc {
  color: #b294bb
}

.code.dark .kd {
  color: #b294bb
}

.code.dark .kn {
  color: #8abeb7
}

.code.dark .kp {
  color: #b294bb
}

.code.dark .kr {
  color: #b294bb
}

.code.dark .kt {
  color: #f0c674
}

.code.dark .ld {
  color: #b5bd68
}

.code.dark .m {
  color: #de935f
}

.code.dark .s {
  color: #b5bd68
}

.code.dark .na {
  color: #81a2be
}

.code.dark .nb {
  color: #c5c8c6
}

.code.dark .nc {
  color: #f0c674
}

.code.dark .no {
  color: #c66
}

.code.dark .nd {
  color: #8abeb7
}

.code.dark .ni {
  color: #c5c8c6
}

.code.dark .ne {
  color: #c66
}

.code.dark .nf {
  color: #81a2be
}

.code.dark .nl {
  color: #c5c8c6
}

.code.dark .nn {
  color: #f0c674
}

.code.dark .nx {
  color: #81a2be
}

.code.dark .py {
  color: #c5c8c6
}

.code.dark .nt {
  color: #8abeb7
}

.code.dark .nv {
  color: #c66
}

.code.dark .ow {
  color: #8abeb7
}

.code.dark .w {
  color: #c5c8c6
}

.code.dark .mf {
  color: #de935f
}

.code.dark .mh {
  color: #de935f
}

.code.dark .mi {
  color: #de935f
}

.code.dark .mo {
  color: #de935f
}

.code.dark .sb {
  color: #b5bd68
}

.code.dark .sc {
  color: #c5c8c6
}

.code.dark .sd {
  color: #969896
}

.code.dark .s2 {
  color: #b5bd68
}

.code.dark .se {
  color: #de935f
}

.code.dark .sh {
  color: #b5bd68
}

.code.dark .si {
  color: #de935f
}

.code.dark .sx {
  color: #b5bd68
}

.code.dark .sr {
  color: #b5bd68
}

.code.dark .s1 {
  color: #b5bd68
}

.code.dark .ss {
  color: #b5bd68
}

.code.dark .bp {
  color: #c5c8c6
}

.code.dark .vc {
  color: #c66
}

.code.dark .vg {
  color: #c66
}

.code.dark .vi {
  color: #c66
}

.code.dark .il {
  color: #de935f
}