.feature_example {
  background-color: rgba(255 255 255 / 0.05);
  color: #c5c8c6;

  .c {
    color: #969896;
  }

  .k {
    color: #b294bb;
  }

  .n {
    color: #c5c8c6;
  }

  .o {
    color: #8abeb7;
  }

  .p {
    color: #c5c8c6;
  }

  .s {
    color: #b5bd68;
  }

  .nb {
    color: #c5c8c6;
  }

  .nd {
    color: #8abeb7;
  }

  .nf {
    color: #81a2be;
  }

  .nn {
    color: #f0c674;
  }

  .py {
    color: #c5c8c6;
  }

  .mi {
    color: #de935f;
  }
}