@custom-media --desktop (width > 700px);
@custom-media --mobile (width <= 700px);

* {
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --background: #000000;
  --backgroundOverlay: rgba(255 255 255 / 0.05);
  
  --textColor: rgba(255 255 255 / 0.9);
  --linkColor: #0088cc;

  --borderRadius: 5px;

  @media (--desktop) {
    --gap: 64px;
  }

  @media (--mobile) {
    --gap: 32px;
  }
}

html {
  background-color: var(--background);
}

body {
  min-height: 100vh;
  margin: 0;
  
  background-color: var(--backgroundOverlay);

  font-family: Ubuntu;
  line-height: 1.625;
  color: var(--textColor);
}

.wrapper {
  max-width: 1024px;
  margin: auto;
  padding: var(--gap);
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
  color: #ffffff;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 32px;
}

p {
  margin: 0;
}

a {
  border-radius: var(--borderRadius);
  box-decoration-break: clone;

  color: var(--linkColor);
  text-decoration: none;

  transition-property: opacity, box-shadow;
  transition-duration: 300ms;

  &:hover {
    opacity: calc(2 / 3);
  }

  &:active {
    opacity: calc(1 / 3);
  }

  &:focus {
    box-shadow: 0 0 4px 1px var(--linkColor);
  }
}

code {
  font-family: "Fira Code";
}

.header {
  display: grid;
  gap: var(--gap);
  margin-bottom: var(--gap);

  @media (--desktop) {
    grid-template-columns: 256px auto;
    grid-template-rows: repeat(2, 64px);
    grid-template-areas:
      "logo title"
      "logo description";
  }

  @media (--mobile) {
    text-align: center;
    justify-items: center;
    grid-template-areas:
      "logo"
      "title"
      "description";
  }

  &_logo {
    grid-area: logo;
    max-width: 256px;
  }
  
  &_title {
    grid-area: title;
    line-height: 1;
  }

  &_description {
    grid-area: description;
    max-width: 320px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.links {
  @media (--mobile) {
    text-align: center;
    margin-right: calc(-1 * var(--gap) / 2);
  }

  &_group {
    @media (--desktop) {
      margin-bottom: calc(var(--gap) / 2);
    }

    @media (--mobile) {
      display: contents;
    }
  }

  a {
    display: inline-block;
    padding: 16px;
    margin-right: calc(var(--gap) / 2);
    border-radius: var(--borderRadius);
    background-color: var(--linkBackground);
    
    font-size: 24px;
    line-height: 1;
    color: #ffffff;

    @media (--mobile) {
      margin-bottom: calc(var(--gap) / 2);
    }

    &.crates {
      --linkBackground: #3B6837;
    }

    &.lib-rs {
      --linkBackground: #353746;
    }

    &.gitlab {
      --linkBackground: #E24329;
    }

    &.github {
      --linkBackground: #24292E;
    }

    &.docs {
      --linkBackground: rgba(255 255 255 / 0.05);
    }

    &.tbot {
      --linkBackground: #0088CC;
    }
  }
}

.feature {
  display: grid;
  align-items: start;
  margin-bottom: var(--gap);
  gap: 32px;

  font-size: 18px;

  @media (--desktop) {
    &:nth-child(2n + 1) {
      grid-template-columns: 5fr 8fr;
      grid-template-areas:
        "description example";
    }

    &:nth-child(2n) {
      grid-template-columns: 8fr 5fr;
      grid-template-areas:
        "example description";
    }
  }

  @media (--mobile) {
    grid-template-areas:
      "description"
      "example";
  }

  &_title {
    line-height: 1.5;
    margin-bottom: 16px;
  }

  &_description {
    grid-area: description;

    p:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &_example {
    grid-area: example;
    overflow: auto;
    padding: calc(var(--gap) / 2);
    padding-right: 0;

    font-size: 16px;
    line-height: 1.5;

    @media (--desktop) {
      border-radius: var(--borderRadius);
      margin: 0;
    }

    @media (--mobile) {
      margin: 0 -32px;
    }

    code {
      display: inline-block;
      margin-right: calc(var(--gap) / 2);
    }
  }
}

.callToAction {
  color: var(--textColor);
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: var(--gap);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

  font-size: 18px;
  color: rgba(255 255 255 / 0.5);
}
